:root,
:root[data-theme='dark'] {
    --sl-color-accent: #a71e3b !important;
    --sl-color-accent-high: #d9274d !important;
    --sl-color-accent-low: #fbdbe3 !important;

    --sl-color-bg: #1e1e24 !important;
    --sl-color-bg-nav: #16161b !important;
    --sl-color-bg-sidebar: #16161b !important;
    
    --sl-color-text-accent: #a71e3b !important; 
}

:root[data-theme='light'] {
    --sl-color-accent: #a71e3b !important;
    --sl-color-accent-high: #591020 !important;
    --sl-color-accent-low: #fae6ea !important;

    --sl-color-bg: #fdfcfc !important;
    --sl-color-bg-nav: #f5f4f4 !important;
    --sl-color-bg-sidebar: #f5f4f4 !important;
    
    --sl-color-text-accent: #a71e3b !important;
}

#starlight__sidebar,
#starlight__sidebar .sidebar-content,
#starlight__sidebar .nova-scroll-container {
    background-color: var(--sl-color-bg-sidebar) !important;
}

header.header,
.header.nova-header {
    background-color: var(--sl-color-bg-nav) !important;
}

:root[data-theme='dark'] .sl-markdown-content a:not(:hover) {
    color: var(--sl-color-accent) !important;
    text-decoration-color: rgba(167, 30, 59, 0.5) !important;
}

:root[data-theme='dark'] .sl-markdown-content a:hover {
    color: #d9274d !important;
    text-decoration-color: #a71e3b !important;
    background-color: rgba(167, 30, 59, 0.2);
    border-radius: 2px;
}

#scroll-progress {
    background-color: var(--sl-color-accent) !important;
    box-shadow: 0 0 12px 2px rgba(167, 30, 59, 0.7) !important;
}